parameters:
    paths:
        - tests/
    level: 1
    bootstrapFiles:
        - bootstrap/app.php
        - phpstan-bootstrap.php
    stubFiles:
        - stubs/Illuminate/Http/Response.stub
        - stubs/Illuminate/Testing/TestResponse.stub
        - stubs/Symfony/Component/HttpFoundation/Response.stub
    excludePaths:
        - tests/Browser/
        - bootstrap/cache/
        - storage/
    scanDirectories:
        - vendor/filament
    ignoreErrors:
        - identifier: pest.expectation.redundant
    type_coverage:
        param: 0
        return: 0
        property: 0

services:
    -
        class: Tests\Support\PHPStan\TestFunctionReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
