includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    paths:
        - tests/
    level: 1
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - tests/Browser/
    scanDirectories:
        - vendor/filament
    ignoreErrors:
        - identifier: pest.expectation.redundant
